@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    height: 100vh;
    width: 100vw;
}

.top_nav{
    display: flex;
    height: 4.5rem;
    width: 100%;
    background-color: black;

    .web_logo{
     flex: 1;
     display: flex;
     justify-content: start;
     padding-left: 3rem;
     align-items: center;
     color: white;
     letter-spacing: .4rem;
     font-family: 'Poppins', sans-serif;
     font-weight: 700;
     font-size: 1.3rem;
    }
    .logout_logo{
        flex: 1;
        display: flex;
        justify-content: end;
        padding-right: 3rem;
        font-size: 1.2rem;
        align-items: center;
    }
    .bi-box-arrow-right{
        color: white;
    }
}

.signup_wrapper{
    .signup_content{
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(100vh - 4.5rem);
    }
    .frame{
        display: flex;
        width: 50rem;
        height: 32rem;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.284);
    }
    .left{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 50%;
    }
    .right{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Poppins',sans-serif;
        font-size: 2rem;
        background-image: url('/images/signup-bg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-weight: 700;
        letter-spacing: .4rem;
        color: rgb(124, 123, 123);
        background-color: black;
        height: 100%;
        width: 50%;
    }
    .signup_text{
        text-align: center;
        padding: 1.8rem 0;
        font-size: 1.5rem;
        font-family: 'Poppins', sans-serif;
        letter-spacing: .2rem;
        color: rgba(0, 0, 0, 0.66);
    }
    .input_frame{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .6rem;
        height: 100%;
        width: 85%;
    }
    .input_div{
        position: relative;
        display: flex;
        width: 100%;
        height: 3rem;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.229);
    }
    .input_icon{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 3rem;
        border-right: 1px solid rgba(0, 0, 0, 0.173);
    }
    .inputs{
        height: 100%;
        padding-left: .5rem;
        border: none;
        outline: none;
        font-size: .8rem;
        background: none;
        font-family: 'Poppins', sans-serif;
        width: calc(100% - 3rem);
        background-color: rgba(236, 236, 236, 0.708);
    }
    .inputs::placeholder{
        color: rgba(0, 0, 0, 0.531);
        font-size: .75rem;
        font-family: 'Poppins',sans-serif;
    }
    .bi-input{
        color: rgb(70, 70, 70);
    }
    .submit_btn{
        padding: .8rem 1.3rem;
        margin-top: .9rem;
        color: white;
        font-size: .7em;
        font-weight: 500;
        letter-spacing: .09rem;
        font-family: 'Poppins',sans-serif;
        border: none;
        background-color: black;
        outline: none;
        transition: transform .4s;
    }
    .submit_btn:active{
        transform: scale(.98);
    }
    .accnt_exist{
        font-family: 'Poppins',sans-serif;
        margin-top: .5rem;
        font-size: .75rem;
    }
    .login_tag{
        text-decoration: none;
        font-size: .87rem;
    }
    .bi-password{padding: .9rem .9rem;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
    @media screen and (max-width:850px) {
        .right{
            display: none;
        }
        .left{
            width: 100%;
        }
        .frame{
            display: flex;
            width: 25rem;
            height: 32rem;
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.284);
        }
    }
}

.frame{
    display: flex;
    justify-content: end;
    height: 100%;
    width: 25%;
    border-right: 1px solid rgba(0, 0, 0, 0.338);
}
.left_bar{
    height: 100%;
    width: 90%;
}
.left_bar ul li{
    list-style: none;
    height: 5rem;
    color: rgba(0, 0, 0, 0.864);
    width: 100%;
    display: flex;
    font-family: 'Poppins',sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    gap: .8rem;
    padding-left: 1rem;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.219);
    border-left: 1px solid rgba(0, 0, 0, 0.251);
}
.bi_left_bar{
    color: rgba(0, 0, 0, 0.879);
}
.active{
    background-color: rgba(128, 128, 128, 0.241);
}



.home_wrapper{
    .home_content{
        display: flex;
        width: 100%;
        height: calc(100vh - 4.5rem);
    }
}