@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    height: 100vh;
    width: 100vw;
}

.top_nav{
    display: flex;
    height: 4.5rem;
    width: 100%;
    background-color: black;

    .web_logo{
     flex: 1;
     display: flex;
     justify-content: start;
     padding-left: 3rem;
     align-items: center;
     color: white;
     letter-spacing: .4rem;
     font-family: 'Poppins', sans-serif;
     font-weight: 700;
     font-size: 1.3rem;
    }
    .logout_logo{
        flex: 1;
        display: flex;
        justify-content: end;
        padding-right: 3rem;
        font-size: 1.2rem;
        align-items: center;
    }
    .bi-box-arrow-right{
        color: white;
    }
}

.signup_wrapper{
    .signup_content{
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(100vh - 4.5rem);
    }
    .frame{
        display: flex;
        width: 50rem;
        height: 32rem;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.284);
    }
    .left{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 50%;
    }
    .right{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Poppins',sans-serif;
        font-size: 2rem;
        background-image: url('/images/signup-bg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-weight: 700;
        letter-spacing: .4rem;
        color: rgb(124, 123, 123);
        background-color: black;
        height: 100%;
        width: 50%;
    }
    .signup_text{
        text-align: center;
        padding: 1.8rem 0;
        font-size: 1.5rem;
        font-family: 'Poppins', sans-serif;
        letter-spacing: .2rem;
        color: rgba(0, 0, 0, 0.66);
    }
    .input_frame{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .6rem;
        height: 100%;
        width: 85%;
    }
    .input_div{
        position: relative;
        display: flex;
        width: 100%;
        height: 3rem;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.229);
    }
    .input_icon{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 3rem;
        border-right: 1px solid rgba(0, 0, 0, 0.173);
    }
    .inputs{
        height: 100%;
        padding-left: .5rem;
        border: none;
        outline: none;
        font-size: .8rem;
        background: none;
        font-family: 'Poppins', sans-serif;
        width: calc(100% - 3rem);
        background-color: rgba(236, 236, 236, 0.708);
    }
    .inputs::placeholder{
        color: rgba(0, 0, 0, 0.531);
        font-size: .75rem;
        font-family: 'Poppins',sans-serif;
    }
    .bi-input{
        color: rgb(70, 70, 70);
    }
    .submit_btn{
        padding: .8rem 1.3rem;
        margin-top: .9rem;
        color: white;
        font-size: .7em;
        font-weight: 500;
        letter-spacing: .09rem;
        font-family: 'Poppins',sans-serif;
        border: none;
        background-color: black;
        outline: none;
        transition: transform .4s;
    }
    .submit_btn:active{
        transform: scale(.98);
    }
    .accnt_exist{
        font-family: 'Poppins',sans-serif;
        margin-top: .5rem;
        font-size: .75rem;
    }
    .login_tag{
        text-decoration: none;
        font-size: .87rem;
    }
    .bi-password{padding: .9rem .9rem;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
    @media screen and (max-width:850px) {
        .right{
            display: none;
        }
        .left{
            width: 100%;
        }
        .frame{
            display: flex;
            width: 25rem;
            height: 32rem;
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.284);
        }
    }
}



.frame{
    display: flex;
    justify-content: end;
    height: 100%;
    width: 21rem;
    border-right: 1px solid rgba(0, 0, 0, 0.338);
}
.left_bar{
    height: 100%;
    width: 90%;
}
.left_bar ul li{
    list-style: none;
    height: 5rem;
    color: rgba(0, 0, 0, 0.864);
    width: 100%;
    display: flex;
    font-family: 'Poppins',sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
    gap: .8rem;
    padding-left: 1rem;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.219);
    border-left: 1px solid rgba(0, 0, 0, 0.251);
}
.bi_left_bar{
    color: rgba(0, 0, 0, 0.826);
}
.active{
    background-color: rgba(128, 128, 128, 0.241);
}

.right_content{
    height: 100%;
    overflow: hidden;
    width: calc(100% - 21rem)
}

.content{
    display: flex;
    width: 100%;
    height: calc(100vh - 4.5rem);
}


.home_wrapper{
    .right_content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home_frame{
        width: 68rem;
        height: 40rem;
        border:  1px solid rgba(0, 0, 0, 0.478);
    }
    .top{
        width: 100%;
        height: 50%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.465);
    }
    .bottom{
        display: flex;
        width: 100%;
        height: 50%;
    }
    .bt_left{
        width: 50%;
        height: 100%;
        border-right: 1px solid rgba(0, 0, 0, 0.463);
    }
    .bt_right{
        width: 50%;
        height: 100%;
    }
    h3{
        text-align: center;
        padding: 1rem;
        font-family: 'Poppins',sans-serif;
        color: rgba(0, 0, 0, 0.707);
        border-bottom: 1px solid rgba(0, 0, 0, 0.438);
    }
}

.users_wrapper{
    .right_content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .product_frame{
        width: 66rem;
        height: 42rem;
        margin-bottom: 1.5rem;
    }
    .pro_top{
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 10%;
    }
    .pro_top h3{
        font-family: 'Poppins',sans-serif;
        font-weight: 500;
        font-size: 1.1rem;
    }
    .pro_center{
        overflow-y: scroll;
        padding-top: 1rem;
        width: 100%;
        height: 80%;
    }
    .pro_center::-webkit-scrollbar {
        width: 0.5em;
      }
      
    .pro_center::-webkit-scrollbar-track {
    background-color: transparent;
    }
    
    .pro_center::-webkit-scrollbar-thumb {
    background-color: transparent;
    }
    .pro_bottom{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10%;
    }
    .link_pagination{
        display: flex;
        gap: 1rem;
        align-items: center;    }
    .links{
        display: flex;
    }
    .link_pagination a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.2rem;
        height: 2.2rem;
        text-decoration: none;
        color: black;
        border: 1px solid rgba(0, 0, 0, 0.739);
        font-family: 'Poppins' , sans-serif;
    }
    .link_pagination button{
        padding: .42rem .7rem;
        letter-spacing: .05rem;
        border: none;
        background-color: black;
        color: white;
        transition: all .5s;
        font-family: 'Poppins',sans-serif;
    }
    .link_pagination button:active{
       transform: scale(.9);
    }
    Table{
        width: 100%;
    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
    th{
        font-family: 'Poppins',sans-serif;
        font-size: .9rem;
        font-weight: 600;
        padding: .6em;
    }
    .bi-trash{
        font-size: 1.1rem;
        color: red;
    }
    td{
        text-align: center;
        padding: .3rem;
        font-family: 'Poppins',sans-serif;
        font-size: .8rem;
    }
   
}

.products_wrapper{
    .right_content{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .product_frame{
        width: 66rem;
        height: 42rem;
        margin-bottom: 1.5rem;
    }
    .pro_top{
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 10%;
    }
    .pro_top h3{
        font-family: 'Poppins',sans-serif;
        font-weight: 500;
        font-size: 1.2rem;
    }
    .pro_top button{
        position: absolute;
        right: 0;
        font-family: 'Poppins',sans-serif;
        font-size: .9rem;
        text-align: end;
        border: none;
        outline: none;
        color: white;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.257);
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.349);
        background-color:red;
        padding: .6rem .6rem;
        transition: all .5s;
        cursor: pointer;
    }
    .pro_top button:active{
        transform: scale(.95);
    }
    .pro_center{
        overflow-y: scroll;
        padding-top: 1rem;
        width: 100%;
        height: 80%;
    }
    .pro_center::-webkit-scrollbar {
        width: 0.5em;
      }
      
      .pro_center::-webkit-scrollbar-track {
        background-color: transparent;
      }
      
      .pro_center::-webkit-scrollbar-thumb {
        background-color: transparent;
      }
    .pro_bottom{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10%;
    }
    .link_pagination{
        display: flex;
        gap: 1rem;
        align-items: center;    }
    .links{
        display: flex;
    }
    .link_pagination a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.2rem;
        height: 2.2rem;
        text-decoration: none;
        color: black;
        border: 1px solid rgba(0, 0, 0, 0.739);
        font-family: 'Poppins' , sans-serif;
    }
    .link_pagination button{
        padding: .42rem .7rem;
        letter-spacing: .05rem;
        border: none;
        background-color: black;
        color: white;
        transition: all .5s;
        font-family: 'Poppins',sans-serif;
    }
    .link_pagination button:active{
       transform: scale(.9);
    }
    Table{
        width: 100%;
    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
    th{
        font-family: 'Poppins',sans-serif;
        font-size: .9rem;
        font-weight: 600;
        padding: .6em;
    }
    .bi-trash{
        font-size: 1.1rem;
        color: red;
    }
    td{
        text-align: center;
        padding: .3rem;
        font-family: 'Poppins',sans-serif;
        font-size: .8rem;
    }
    .bi-pencil-square{
        font-size: 1.1rem;
        color: rgb(0, 136, 0);
    }
    td button{
        background: none;
        border: none;
        transition: all .5s;
    }
    td button:active{
        transform: scale(.9);
    }
}

.category_wrapper{
    .right_content{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .product_frame{
        width: 66rem;
        height: 42rem;
        margin-bottom: 1.5rem;
    }
    .pro_top{
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 10%;
    }
    .pro_top h3{
        font-family: 'Poppins',sans-serif;
        font-weight: 500;
        font-size: 1.2rem;
    }
    .pro_top button{
        position: absolute;
        right: 0;
        font-family: 'Poppins',sans-serif;
        font-size: .9rem;
        text-align: end;
        border: none;
        outline: none;
        color: white;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.257);
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.349);
        background-color:red;
        padding: .6rem .6rem;
        transition: all .5s;
        cursor: pointer;
    }
    .pro_top button:active{
        transform: scale(.95);
    }
    .pro_center{
        overflow-y: scroll;
        padding-top: 1rem;
        width: 100%;
        height: 80%;
    }
    .pro_center::-webkit-scrollbar {
        width: 0.5em;
      }
      
      .pro_center::-webkit-scrollbar-track {
        background-color: transparent;
      }
      
      .pro_center::-webkit-scrollbar-thumb {
        background-color: transparent;
      }
    .pro_bottom{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10%;
    }
    .link_pagination{
        display: flex;
        gap: 1rem;
        align-items: center;    }
    .links{
        display: flex;
    }
    .link_pagination a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.2rem;
        height: 2.2rem;
        text-decoration: none;
        color: black;
        border: 1px solid rgba(0, 0, 0, 0.739);
        font-family: 'Poppins' , sans-serif;
    }
    .link_pagination button{
        padding: .42rem .7rem;
        letter-spacing: .05rem;
        border: none;
        background-color: black;
        color: white;
        transition: all .5s;
        font-family: 'Poppins',sans-serif;
    }
    .link_pagination button:active{
       transform: scale(.9);
    }
    Table{
        width: 100%;
    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
    th{
        font-family: 'Poppins',sans-serif;
        font-size: .9rem;
        font-weight: 600;
        padding: .6em;
    }
    .bi-trash{
        font-size: 1.1rem;
        color: red;
    }
    td{
        text-align: center;
        padding: .3rem;
        font-family: 'Poppins',sans-serif;
        font-size: .8rem;
    }
    .bi-pencil-square{
        font-size: 1.1rem;
        color: rgb(0, 136, 0);
    }
    td button{
        background: none;
        border: none;
        transition: all .5s;
    }
    td button:active{
        transform: scale(.9);
    }
}

.banner_wrapper{
    .right_content{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .product_frame{
        width: 66rem;
        height: 42rem;
        margin-bottom: 1.5rem;
    }
    .pro_top{
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 10%;
    }
    .pro_top h3{
        font-family: 'Poppins',sans-serif;
        font-weight: 500;
        font-size: 1.2rem;
    }
    .pro_top button{
        position: absolute;
        right: 0;
        font-family: 'Poppins',sans-serif;
        font-size: .9rem;
        text-align: end;
        border: none;
        outline: none;
        color: white;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.257);
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.349);
        background-color:red;
        padding: .6rem .6rem;
        transition: all .5s;
        cursor: pointer;
    }
    .pro_top button:active{
        transform: scale(.95);
    }
    .pro_center{
        overflow-y: scroll;
        padding-top: 1rem;
        width: 100%;
        height: 80%;
    }
    .pro_center::-webkit-scrollbar {
        width: 0.5em;
    }
    
    .pro_center::-webkit-scrollbar-track {
    background-color: transparent;
    }
    
    .pro_center::-webkit-scrollbar-thumb {
    background-color: transparent;
    }
    .pro_bottom{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10%;
    }
    .link_pagination{
        display: flex;
        gap: 1rem;
        align-items: center;    }
    .links{
        display: flex;
    }
    .link_pagination a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.2rem;
        height: 2.2rem;
        text-decoration: none;
        color: black;
        border: 1px solid rgba(0, 0, 0, 0.739);
        font-family: 'Poppins' , sans-serif;
    }
    .link_pagination button{
        padding: .42rem .7rem;
        letter-spacing: .05rem;
        border: none;
        background-color: black;
        color: white;
        transition: all .5s;
        font-family: 'Poppins',sans-serif;
    }
    .link_pagination button:active{
       transform: scale(.9);
    }
    Table{
        width: 100%;
    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
    th{
        font-family: 'Poppins',sans-serif;
        font-size: .9rem;
        font-weight: 600;
        padding: .6em;
    }
    .bi-trash{
        font-size: 1.1rem;
        color: red;
    }
    td{
        text-align: center;
        padding: .3rem;
        font-family: 'Poppins',sans-serif;
        font-size: .8rem;
    }
    .bi-pencil-square{
        font-size: 1.1rem;
        color: rgb(0, 136, 0);
    }
    td button{
        background: none;
        border: none;
        transition: all .5s;
    }
    td button:active{
        transform: scale(.9);
    }
}


.coupons_wrapper{
    .right_content{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .product_frame{
        width: 66rem;
        height: 42rem;
        margin-bottom: 1.5rem;
    }
    .pro_top{
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 10%;
    }
    .pro_top h3{
        font-family: 'Poppins',sans-serif;
        font-weight: 500;
        font-size: 1.2rem;
    }
    .pro_top button{
        position: absolute;
        right: 0;
        font-family: 'Poppins',sans-serif;
        font-size: .9rem;
        text-align: end;
        border: none;
        outline: none;
        color: white;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.257);
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.349);
        background-color:red;
        padding: .6rem .6rem;
        transition: all .5s;
        cursor: pointer;
    }
    .pro_top button:active{
        transform: scale(.95);
    }
    .pro_center{
        overflow-y: scroll;
        padding-top: 1rem;
        width: 100%;
        height: 80%;
    }
    .pro_center::-webkit-scrollbar {
        width: 0.5em;
    }
    
    .pro_center::-webkit-scrollbar-track {
    background-color: transparent;
    }
    
    .pro_center::-webkit-scrollbar-thumb {
    background-color: transparent;
    }
    .pro_bottom{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10%;
    }
    .link_pagination{
        display: flex;
        gap: 1rem;
        align-items: center;    }
    .links{
        display: flex;
    }
    .link_pagination a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.2rem;
        height: 2.2rem;
        text-decoration: none;
        color: black;
        border: 1px solid rgba(0, 0, 0, 0.739);
        font-family: 'Poppins' , sans-serif;
    }
    .link_pagination button{
        padding: .42rem .7rem;
        letter-spacing: .05rem;
        border: none;
        background-color: black;
        color: white;
        transition: all .5s;
        font-family: 'Poppins',sans-serif;
    }
    .link_pagination button:active{
       transform: scale(.9);
    }
    Table{
        width: 100%;
    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
    th{
        font-family: 'Poppins',sans-serif;
        font-size: .9rem;
        font-weight: 600;
        padding: .6em;
    }
    .bi-trash{
        font-size: 1.1rem;
        color: red;
    }
    td{
        text-align: center;
        padding: .3rem;
        font-family: 'Poppins',sans-serif;
        font-size: .8rem;
    }
    .bi-pencil-square{
        font-size: 1.1rem;
        color: rgb(0, 136, 0);
    }
    td button{
        background: none;
        border: none;
        transition: all .5s;
    }
    td button:active{
        transform: scale(.9);
    }
}

.message_wrapper{
    .right_content{
        padding: 1.2em;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(12,1fr);
        row-gap: 1rem;
    }
    .msg_cont{
        width: 11rem;
        cursor: pointer;
        height: 13rem;
        border: 1px solid rgba(0, 0, 0, 0.476);
    }
    .top{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.416);
    }
    .bottom{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 30%;
        flex-wrap: wrap;
        overflow: hidden;
        font-size: .67rem;
        font-family: 'Poppins',sans-serif;
    }
    .bi-envelope-fill{
        font-size: 4rem;
        margin-top: 1rem;
    }
}


.add_products_wrapper{
    .right_content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form_frame{
        width: 40rem;
        height: 38rem;
        box-sizing: content-box;
        padding: 1rem;
        border: 1px solid rgba(0, 0, 0, 0.316);
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.185);
    }
    .top{
        display: flex;
        width: 100%;
        height: 40%;
    }
    .top_left{
        width: 65%;
        height: 100%;
    }
    .top_right{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 35%;
        height: 100%;
    }
    .product_img{
        margin-top: 2.3rem;
        width: 9rem;
        height: 9rem;
        border: 1px solid rgba(0, 0, 0, 0.291);
    }
    .file_div{
        display: flex;
        position: relative;
    }
    .choose_file{
        padding: .5rem .9rem;
        border-radius: .2rem;
        color: white;
        font-size: .9rem;
        background-color: black;
    }
    .input_file{
        color: transparent;
        position: absolute;
        opacity: 0;
        height: 2rem;
    }
    .top_left{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: .2rem;
    }
    .top_left label{
      font-family: 'Poppins',sans-serif;
      font-size: .7rem;
    }
    .top_left input{
      font-family: 'Poppins',sans-serif;
      height: 2.5rem;
      outline: none;
      padding-left: 1rem;
    }
    .bottom{
        display: flex;
        flex-direction: column;
        gap: .2rem;
    }
    .bottom label{
        font-family: 'Poppins',sans-serif;
        font-size: .7rem;
    }
    .bottom input{
        font-family: 'Poppins',sans-serif;
        height: 2.5rem;
        outline: none;
        padding-left: 1rem;
    }
    #text_area{
        width: 94%;
        height: 9rem;
        resize: none;
        outline: none;
        padding: 1rem;
    }
    .add_btn{
        padding: .6rem 1rem;
        font-family: 'Poppins', sans-serif;
        background: none;
        outline: none;
        border: none;
        background-color: black;
        color: white;
        transition: transform .5s;
    }
    .add_btn:active{
        transform: scale(.95);
    }
}


.addcategory_wrapper{
    .right_content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .addcatogery_frame{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 30rem;
        height: 35rem;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.185);
    }
    .category_img{
        width: 9rem;
        height: 10rem;
        margin-top: 2rem;
        border: 1px solid rgba(0, 0, 0, 0.44);
    }
    .file_div{
        display: flex;
        position: relative;
    }
    .choose_file{
        padding: .5rem .9rem;
        border-radius: .2rem;
        color: white;
        font-size: .9rem;
        background-color: black;
    }
    .input_file{
        color: transparent;
        position: absolute;
        opacity: 0;
        height: 2rem;
    }
    .input_text{
        font-family: 'Poppins',sans-serif;
        height: 2.5rem;
        outline: none;
        padding-left: 1rem;
        width: 80%;
        border: 1px solid rgba(0, 0, 0, 0.822);
    }
    .addcatogery_frame label{
        font-size: .8rem;
        font-family: 'Poppins',sans-serif;
    }
    .add_btn{
        padding: .6rem 1rem;
        font-family: 'Poppins', sans-serif;
        background: none;
        outline: none;
        border: none;
        background-color: black;
        color: white;
        transition: transform .5s;
    }
    .add_btn:active{
        transform: scale(.95);
    }
    
}

.addbanner_wrapper{
    .right_content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .addcatogery_frame{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
        width: 30rem;
        height: 40rem;
        margin-bottom: 1rem;
        border: 1px solid rgba(0, 0, 0, 0.585);
    }
    .category_img{
        width: 24rem;
        height: 8rem;
        margin-top: 2rem;
        border: 1px solid rgba(0, 0, 0, 0.44);
    }
    .file_div{
        display: flex;
        position: relative;
    }
    .choose_file{
        padding: .5rem .9rem;
        border-radius: .2rem;
        color: white;
        font-size: .9rem;
        background-color: black;
    }
    .input_file{
        color: transparent;
        position: absolute;
        opacity: 0;
        height: 2rem;
    }
    .input_text{
        font-family: 'Poppins',sans-serif;
        height: 2.2rem;
        outline: none;
        padding-left: 1rem;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.822);
    }
    .addcatogery_frame label{
        font-size: .8rem;
        font-family: 'Poppins',sans-serif;
    }
    .add_btn{
        padding: .6rem 1rem;
        font-family: 'Poppins', sans-serif;
        background: none;
        outline: none;
        border: none;
        background-color: black;
        color: white;
        transition: transform .5s;
    }
    .add_btn:active{
        transform: scale(.95);
    }
}

.addcoupon_wrapper{
    .right_content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .addcatogery_frame{
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: content-box;
        padding: 2rem 0;
        gap: .5rem;
        width: 30rem;
        height: 35rem;
        margin-bottom: 1rem;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.198);
        border: 1px solid rgba(0, 0, 0, 0.336);
    }
    .addcatogery_frame form{
      width: 100%;
      height: 100%;
    }
    .addcatogery_frame label{
        font-size: .7rem;
        font-family: 'Poppins',sans-serif;
    }
    .addcatogery_frame input{
        font-family: 'Poppins',sans-serif;
        padding-left: .8rem;
        outline: none;
        height: 2.5rem;
    }
    .add_btn{
        padding: .6rem 1rem;
        font-family: 'Poppins', sans-serif;
        background: none;
        outline: none;
        border: none;
        background-color: black;
        color: white;
        transition: transform .5s;
    }
    .add_btn:active{
        transform: scale(.95);
    }
}


.usermessage_wrapper{
    .right_content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .user_msg_frame{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-items: center;
        width: 34rem;
        height: 38rem;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.222);
        border: 1px solid rgba(0, 0, 0, 0.256);
    }
    .user_msg_frame h3{
        font-family: 'roboto',sans-serif;
        text-align: center;
        margin: 2rem;
        letter-spacing: .05rem;
    }
    .user_msg_frame form{
        display: flex;
        flex-direction: column;
        gap: .8rem;
    }
    .user_msg_frame label{
        font-size: .7rem;
        font-family: 'Poppins',sans-serif;
    }
    .user_msg_frame input{
        font-size: .9rem;
        font-family: 'Poppins',sans-serif;
        height: 2.5rem;
        width: 100%;
        padding-left: .9rem;
        outline: none;
    }
    .user_msg_textarea{
        width: 100%;
        height: 12rem;
        padding: 1rem;
        resize: none;
        outline: none;
    }

}

.orders_wrapper{
    .right_content{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .product_frame{
        width: 66rem;
        height: 42rem;
        margin-bottom: 1.5rem;
    }
    .pro_top{
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 10%;
    }
    .pro_top h3{
        font-family: 'Poppins',sans-serif;
        font-weight: 500;
        font-size: 1.2rem;
    }
    .pro_top button{
        position: absolute;
        right: 0;
        font-family: 'Poppins',sans-serif;
        font-size: .9rem;
        text-align: end;
        border: none;
        outline: none;
        color: white;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.257);
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.349);
        background-color:red;
        padding: .6rem .6rem;
        transition: all .5s;
        cursor: pointer;
    }
    .pro_top button:active{
        transform: scale(.95);
    }
    .pro_center{
        overflow-y: scroll;
        padding-top: 1rem;
        width: 100%;
        height: 80%;
    }
    .pro_center::-webkit-scrollbar {
        width: 0.5em;
    }
    
    .pro_center::-webkit-scrollbar-track {
    background-color: transparent;
    }
    
    .pro_center::-webkit-scrollbar-thumb {
    background-color: transparent;
    }
    .pro_bottom{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10%;
    }
    .link_pagination{
        display: flex;
        gap: 1rem;
        align-items: center; 
    }
    .links{
        display: flex;
    }
    .link_pagination a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.2rem;
        height: 2.2rem;
        text-decoration: none;
        color: black;
        border: 1px solid rgba(0, 0, 0, 0.739);
        font-family: 'Poppins' , sans-serif;
    }
    .link_pagination button{
        padding: .42rem .7rem;
        letter-spacing: .05rem;
        border: none;
        background-color: black;
        color: white;
        transition: all .5s;
        font-family: 'Poppins',sans-serif;
    }
    .link_pagination button:active{
       transform: scale(.9);
    }
    Table{
        width: 100%;
    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
    th{
        font-family: 'Poppins',sans-serif;
        font-size: .9rem;
        font-weight: 600;
        padding: .6em;
    }
    .bi-trash{
        font-size: 1.1rem;
        color: red;
    }
    td{
        text-align: center;
        padding: .3rem;
        font-family: 'Poppins',sans-serif;
        font-size: .8rem;
    }
    .bi-pencil-square{
        font-size: 1.1rem;
        color: rgb(0, 136, 0);
    }
    td button{
        background: none;
        border: none;
        transition: all .5s;
    }
    td button:active{
        transform: scale(.9);
    }
}


.individiualusers_wrapper{
    .right_content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}