<div class="top_nav">
  <div class="web_logo">LABIO</div>
  <div class="search_div">
    <div class="search_bar">
      <input class="search_input" type="text" />
      <button class="search_btn">Search</button>
    </div>
  </div>
  <div class="page_links">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Cart</a></li>
      <li><a href="#">wish</a></li>
      <li><a href="#">Accout</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </div>
</div>
