<%- include('../components/head.ejs') %>
    <div class="wrapper allproducts_wrapper">
      <div class="loading_screen"><img src="/images/loading gif.gif" class="loading_gif" alt=""></div>
      <%- include('../components/top_nav.ejs') %>
    <div class="all_products_content">
        <section class="top_sec">
            <h4>FILTERS</h4>
            <div class="sort_by_div">
                <p class="sort_recomended">Sort By : Recomended<i class="bi bi-chevron-down"></i></p>
                <ul class="sort_ul">
                    <li><a href="">Recomended</a></li>
                    <li><a href="">Whats New</a></li>
                    <li><a href="">Popularity</a></li>
                    <li><a href="">Better Discount</a></li>
                    <li><a href="">High to Low</a></li>
                    <li><a href="">Low to High</a></li>
                </ul>
            </div>
        </section>

        <div class="bottom_products_div">
        <form action="">
            <div class="filter_section">

                <div class="filter_sec cat_sec">
                    <h4>Category</h4>
                      <ul>
                        <li><input type="radio" value="mens" name="category" id="mens"><label for="mens">MENS</label></li>
                        <li><input type="radio" value="womens" name="category" id="womens"><label for="womens">WOMENS</label></li>
                        <li><input type="radio" value="kids" name="category" id="kids"><label for="kids">KIDS</label></li>
                        <li><input type="radio" value="electronics" name="category" id="electronics"><label for="electronics">ELECTRONICS</label></li>
                        <li><input type="radio" value="home" name="category" id="home"><label for="home">HOME</label></li>
                      </ul>
                </div>
                <div class="filter_sec price_sec">
                    <h4>Price</h4>
                    <ul>
                        <li><input type="radio" value="500" name="price" id="500" ><label for="500">Under ₹500</label></li>
                        <li><input type="radio" value="1000" name="price" id="1000" ><label for="1000">₹500 - ₹1000</label></li>
                        <li><input type="radio" value="1500" name="price" id="1500" ><label for="1500">₹1000 - ₹1500</label></li>
                        <li><input type="radio" value="2500" name="price" id="2500" ><label for="2500">₹1500 - ₹2500</label></li>
                        <li><input type="radio" value="3000" name="price" id="3000" ><label for="3000">Over ₹2,500</label></li>
                      </ul>
                </div>
                <div class="filter_sec color_sec">
                    <h4>Color</h4>
                    <ul>
                        <li><input type="radio" value="red" name="color" id="red"><label for="red"><span style="background-color: red;" class="color_balls"></span>Red</label></li>
                        <li><input type="radio" value="green" name="color" id="green"><label for="green"><span style="background-color: green;" class="color_balls"></span>Green</label></li>
                        <li><input type="radio" value="yellow" name="color" id="yellow"><label for="yellow"><span style="background-color: yellow;" class="color_balls"></span>Yellow</label></li>
                        <li><input type="radio" value="blue" name="color" id="blue"><label for="blue"><span style="background-color: blue;" class="color_balls"></span>Blue</label></li>
                        <li><input type="radio" value="olive" name="color" id="olive"><label for="olive"><span style="background-color: olive;" class="color_balls"></span>Olive</label></li>
                        <li><input type="radio" value="orange" name="color" id="orange"><label for="orange"><span style="background-color: orange;" class="color_balls"></span>Orange</label></li>
                      </ul>
                </div>

            </div>
        </form>

            <div class="product_section">

            </div>

        </div>

      </div>

      <div class="pagination_div">
      <div class="link_pagination">
        <button class="back_btn" onclick="prev()"><i class="bi bi-chevron-left"></i></button>
          <div class="links">
              <button class="page_btn active_link" onclick="active()" value="1">1</button>
              <button class="page_btn" onclick="active()" value="2">2</button>
              <button class="page_btn" onclick="active()" value="3">3</button>
              <button class="page_btn" onclick="active()" value="4">4</button>
              <button class="page_btn" onclick="active()" value="5">5</button>
              <button class="page_btn" onclick="active()" value="6">6</button>
              <button class="page_btn" onclick="active()" value="7">7</button>
           </div>
          <button class="next_btn" onclick="next()"><i class="bi bi-chevron-right"></i></button>
      </div>
    </div>

    <%- include('../../common/footer.ejs') %>
   </div>

<script src="/javascript/addtowish.js"></script>
<script src="/javascript/addtocart.js"></script>
<script src="/javascript/product-open.js"></script>
<script src="/javascript/allproducts.js"></script>

<%- include('../../common/end.ejs') %>