<%- include('../components/head.ejs') %>
   <div class="wrapper changepass_wrapper">
      <%- include('../components/signup_topnav.ejs') %>
      <div class="changepass_content">
      <form spellcheck="false" action="/change_password" method="post" class="login_form">
      <div class="login_frame">
         <div class="left">
            <h3 class="login_text">Change Password</h3>
            <label class="newPass" for="">New Password</label>
            <label class="confirmPass" for="">Confirm Password</label>
            <div class="input_frame">
                <div class="input_div"><span class="input_icon"><i class="bi bi-input bi-key"></i></span><input class="inputs" type="password" minlength="8" maxlength="10" name="password" placeholder="********"><i class="bi bi-password passEye bi-eye-slash"></i></div>
                <div class="input_div"><span class="input_icon"><i class="bi bi-input bi-shield-lock-fill"></i></span><input class="inputs" type="password" minlength="8" maxlength="10" name="confirmpassword" placeholder="********" ><i class="bi bi-password confirmPassEye bi-eye-slash"></i></div>
                <div class="submit_div"><button class="submit_btn" type="submit">SUBMIT</button></div>
               <p class="err_msg" style="text-align: center; font-size: .9rem ;"><%= errMsg %></p>

               <% if(errMsg) { %>
               <script>
               const errPara =  document.querySelector('.err_msg')
                 setTimeout(() => {
                    errPara.innerHTML = ''
                 }, 2000);
               </script>
              <% } %>
              
            </div>
         </div>
         <div class="right">LABIO</div>
      </div>
   </form>
    </div>
   </div>
<script>
    
// Password Eye Open and Close


document.addEventListener('DOMContentLoaded', () => {
    const passEye = document.querySelector('.passEye');
    const passwordInput = document.getElementsByName('password')[0];

    passEye.addEventListener('click', (e) => {
        if (passEye.classList.contains('bi-eye-slash')) {
            passEye.classList.replace('bi-eye-slash', 'bi-eye');
            passwordInput.type = 'text';
            setTimeout(() => {
                passwordInput.type = 'password';
                passEye.classList.replace('bi-eye', 'bi-eye-slash');
            }, 2000);
        } else {
            passEye.classList.replace('bi-eye', 'bi-eye-slash');
            passwordInput.type = 'password';
        }
    });
});



// Confirm Password Eye Open and Close




document.addEventListener('DOMContentLoaded', () => {
    const passEye = document.querySelector('.confirmPassEye');
    const confirmPasswordInput = document.getElementsByName('confirmpassword')[0];

    passEye.addEventListener('click', (e) => {
        if (passEye.classList.contains('bi-eye-slash')) {
            passEye.classList.replace('bi-eye-slash', 'bi-eye');
            confirmPasswordInput.type = 'text';
            setTimeout(() => {
                confirmPasswordInput.type = 'password';
                passEye.classList.replace('bi-eye', 'bi-eye-slash');
            }, 2000);
        } else {
            passEye.classList.replace('bi-eye', 'bi-eye-slash');
            confirmPasswordInput.type = 'password';
        }
    });
});



   </script>
   <%- include('../../common/end.ejs') %>