<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerse</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/public/css/user.css">
</head>
<body>

    <div class="wrapper checkout_wrapper">
        <div class="top_nav">
            <div class="web_logo"><i class="bi bi-list"></i><span class="labio_text">LABIO</span></div>
            <div class="search_div">
              <div class="search_bar">
                <input class="search_input" placeholder="Search..." type="text" />
                <button class="search_btn"><i class="bi bi-search"></i></button>
              </div>
            </div>
            <div class="page_links">
              <ul>
                <li><a class="page_links home_li <%= state==='home'? 'active' : '' %>" href="/home">Home</a></li>
                <li><a class="page_links" href="/wishlist"><i class="bi bi-heart bi_top_heart <%= state==='wishlist'? 'active' : '' %>"></i><span class="product_count wish_count_top"><%= wishCount? wishCount : 0 %></span></a></li>
                <li><a class="page_links" href="/cart"><i class="bi bi-cart3  <%= state==='cart'? 'active' : '' %>"></i><span class="product_count cart_count"><%= cartCount %></span></a></li>
                <li><a class="page_links <%= state==='address'? 'active' : '' %>" href="/account/address">Account</a></li>
                <li><a class="page_links" href=""><i class="bi bi-box-arrow-right"></i></a></li>
              </ul>
            </div>
          </div>


          <div class="content checkout_content">

            <div class="checkout_left">

                <!-- ----------------------------------- -->

                <div class="checkout_left_top">

                    <div class="product">
                        <div class="image_sec"><img src="/public/products-img/06-02-11-47-28-717a7hlTgNL._SL1500_.jpg" style="width: 10rem;" alt=""></div>
                        <div class="discription_sec">
                           <p class="product_name">Iphone 15 pro</p>
                           <div style="display: flex; gap: 1rem; align-items: center;">
                              <select name="quantity" style="outline: none; padding: .3rem;">
                                 <option value="1">Qty:1</option>
                                 <option value="2">Qty:2</option>
                                 <option value="3">Qty:3</option>
                                 <option value="4">Qty:4</option>
                                 <option value="5">Qty:5</option>
                              </select>
                              <div class="stock_left">4 LEFT</div>
                           </div>
                           <div style="display: flex; gap: .7rem; align-items: center;">
                              <p class="old_price">13,343</p>
                              <p class="new_price">12,324</p>
                              <p class="discount"></p>
                           </div>

                        <div class="color_size">
                            <div class="size_li">
                                <p style="font-family: 'Poppins',sans-serif; font-weight: 500;font-size: .98rem; color: black;">SIZE :</p>
                
                                <span class="label_span">
                                 <input id="S" value="S" name="size" type="radio" >
                                <label for="S" >S</label>
                                </span>
                                <span class="label_span">
                                 <input id="S" value="S" name="size" type="radio" >
                                <label for="S" >S</label>
                                </span>
                                        
                            </div>

                            <!-- ------------------------------------- -->

                            
                     <div class="color_li">
                         <p style="font-family: 'Poppins',sans-serif;color: black;font-size: .93rem;">COLOR :</p>

                           <span  class="label_span_color">
                              <input  id="" name="color" value="" type="radio" >
                              <label for="" ></label>
                            </span>
                           <span  class="label_span_color">
                              <input  id="" name="color" value="" type="radio" >
                              <label for="" ></label>
                            </span>
                           
                     </div>

                           </div>




                           <p class="return_status">Return policy</p>
                        </div>
                        <div class="delete_section">
                           <div style="margin-bottom: 1rem;"><button><i class="bi bi-x-circle"></i></button></div>
                        </div>
                     </div>
                    <div class="product">
                        <div class="image_sec"><img src="/public/products-img/06-02-11-47-28-717a7hlTgNL._SL1500_.jpg" style="width: 10rem;" alt=""></div>
                        <div class="discription_sec">
                           <p class="product_name">Iphone 15 pro</p>
                           <div style="display: flex; gap: 1rem; align-items: center;">
                              <select name="quantity" style="outline: none; padding: .3rem;">
                                 <option value="1">Qty:1</option>
                                 <option value="2">Qty:2</option>
                                 <option value="3">Qty:3</option>
                                 <option value="4">Qty:4</option>
                                 <option value="5">Qty:5</option>
                              </select>
                              <div class="stock_left">4 LEFT</div>
                           </div>
                           <div style="display: flex; gap: .7rem; align-items: center;">
                              <p class="old_price">13,343</p>
                              <p class="new_price">12,324</p>
                              <p class="discount"></p>
                           </div>

                        <div class="color_size">
                            <div class="size_li">
                                <p style="font-family: 'Poppins',sans-serif; font-weight: 500;font-size: .98rem; color: black;">SIZE :</p>
                
                                <span class="label_span">
                                 <input id="S" value="S" name="size" type="radio" >
                                <label for="S" >S</label>
                                </span>
                                <span class="label_span">
                                 <input id="S" value="S" name="size" type="radio" >
                                <label for="S" >S</label>
                                </span>
                                        
                            </div>

                            <!-- ------------------------------------- -->

                            
                     <div class="color_li">
                         <p style="font-family: 'Poppins',sans-serif;color: black;font-size: .93rem;">COLOR :</p>

                           <span  class="label_span_color">
                              <input  id="" name="color" value="" type="radio" >
                              <label for="" ></label>
                            </span>
                           <span  class="label_span_color">
                              <input  id="" name="color" value="" type="radio" >
                              <label for="" ></label>
                            </span>
                           
                     </div>

                           </div>




                           <p class="return_status">Return policy</p>
                        </div>
                        <div class="delete_section">
                           <div style="margin-bottom: 1rem;"><button><i class="bi bi-x-circle"></i></button></div>
                        </div>
                     </div>
                    <div class="product">
                        <div class="image_sec"><img src="/public/products-img/06-02-11-47-28-717a7hlTgNL._SL1500_.jpg" style="width: 10rem;" alt=""></div>
                        <div class="discription_sec">
                           <p class="product_name">Iphone 15 pro</p>
                           <div style="display: flex; gap: 1rem; align-items: center;">
                              <select name="quantity" style="outline: none; padding: .3rem;">
                                 <option value="1">Qty:1</option>
                                 <option value="2">Qty:2</option>
                                 <option value="3">Qty:3</option>
                                 <option value="4">Qty:4</option>
                                 <option value="5">Qty:5</option>
                              </select>
                              <div class="stock_left">4 LEFT</div>
                           </div>
                           <div style="display: flex; gap: .7rem; align-items: center;">
                              <p class="old_price">13,343</p>
                              <p class="new_price">12,324</p>
                              <p class="discount"></p>
                           </div>

                        <div class="color_size">
                            <div class="size_li">
                                <p style="font-family: 'Poppins',sans-serif; font-weight: 500;font-size: .98rem; color: black;">SIZE :</p>
                
                                <span class="label_span">
                                 <input id="S" value="S" name="size" type="radio" >
                                <label for="S" >S</label>
                                </span>
                                <span class="label_span">
                                 <input id="S" value="S" name="size" type="radio" >
                                <label for="S" >S</label>
                                </span>
                                        
                            </div>

                            <!-- ------------------------------------- -->

                            
                     <div class="color_li">
                         <p style="font-family: 'Poppins',sans-serif;color: black;font-size: .93rem;">COLOR :</p>

                           <span  class="label_span_color">
                              <input  id="" name="color" value="" type="radio" >
                              <label for="" ></label>
                            </span>
                           <span  class="label_span_color">
                              <input  id="" name="color" value="" type="radio" >
                              <label for="" ></label>
                            </span>
                           
                     </div>

                           </div>




                           <p class="return_status">Return policy</p>
                        </div>
                        <div class="delete_section">
                           <div style="margin-bottom: 1rem;"><button><i class="bi bi-x-circle"></i></button></div>
                        </div>
                     </div>
                    <div class="product">
                        <div class="image_sec"><img src="/public/products-img/06-02-11-47-28-717a7hlTgNL._SL1500_.jpg" style="width: 10rem;" alt=""></div>
                        <div class="discription_sec">
                           <p class="product_name">Iphone 15 pro</p>
                           <div style="display: flex; gap: 1rem; align-items: center;">
                              <select name="quantity" style="outline: none; padding: .3rem;">
                                 <option value="1">Qty:1</option>
                                 <option value="2">Qty:2</option>
                                 <option value="3">Qty:3</option>
                                 <option value="4">Qty:4</option>
                                 <option value="5">Qty:5</option>
                              </select>
                              <div class="stock_left">4 LEFT</div>
                           </div>
                           <div style="display: flex; gap: .7rem; align-items: center;">
                              <p class="old_price">13,343</p>
                              <p class="new_price">12,324</p>
                              <p class="discount"></p>
                           </div>

                        <div class="color_size">
                            <div class="size_li">
                                <p style="font-family: 'Poppins',sans-serif; font-weight: 500;font-size: .98rem; color: black;">SIZE :</p>
                
                                <span class="label_span">
                                 <input id="S" value="S" name="size" type="radio" >
                                <label for="S" >S</label>
                                </span>
                                <span class="label_span">
                                 <input id="S" value="S" name="size" type="radio" >
                                <label for="S" >S</label>
                                </span>
                                        
                            </div>

                            <!-- ------------------------------------- -->

                            
                     <div class="color_li">
                         <p style="font-family: 'Poppins',sans-serif;color: black;font-size: .93rem;">COLOR :</p>

                           <span  class="label_span_color">
                              <input  id="" name="color" value="" type="radio" >
                              <label for="" ></label>
                            </span>
                           <span  class="label_span_color">
                              <input  id="" name="color" value="" type="radio" >
                              <label for="" ></label>
                            </span>
                           
                     </div>

                           </div>




                           <p class="return_status">Return policy</p>
                        </div>
                        <div class="delete_section">
                           <div style="margin-bottom: 1rem;"><button><i class="bi bi-x-circle"></i></button></div>
                        </div>
                     </div>
                    <div class="product">
                        <div class="image_sec"><img src="/public/products-img/06-02-11-47-28-717a7hlTgNL._SL1500_.jpg" style="width: 10rem;" alt=""></div>
                        <div class="discription_sec">
                           <p class="product_name">Iphone 15 pro</p>
                           <div style="display: flex; gap: 1rem; align-items: center;">
                              <select name="quantity" style="outline: none; padding: .3rem;">
                                 <option value="1">Qty:1</option>
                                 <option value="2">Qty:2</option>
                                 <option value="3">Qty:3</option>
                                 <option value="4">Qty:4</option>
                                 <option value="5">Qty:5</option>
                              </select>
                              <div class="stock_left">4 LEFT</div>
                           </div>
                           <div style="display: flex; gap: .7rem; align-items: center;">
                              <p class="old_price">13,343</p>
                              <p class="new_price">12,324</p>
                              <p class="discount"></p>
                           </div>

                        <div class="color_size">
                            <div class="size_li">
                                <p style="font-family: 'Poppins',sans-serif; font-weight: 500;font-size: .98rem; color: black;">SIZE :</p>
                
                                <span class="label_span">
                                 <input id="S" value="S" name="size" type="radio" >
                                <label for="S" >S</label>
                                </span>
                                <span class="label_span">
                                 <input id="S" value="S" name="size" type="radio" >
                                <label for="S" >S</label>
                                </span>
                                        
                            </div>

                            <!-- ------------------------------------- -->

                            
                     <div class="color_li">
                         <p style="font-family: 'Poppins',sans-serif;color: black;font-size: .93rem;">COLOR :</p>

                           <span  class="label_span_color">
                              <input  id="" name="color" value="" type="radio" >
                              <label for="" ></label>
                            </span>
                           <span  class="label_span_color">
                              <input  id="" name="color" value="" type="radio" >
                              <label for="" ></label>
                            </span>
                           
                     </div>

                           </div>




                           <p class="return_status">Return policy</p>
                        </div>
                        <div class="delete_section">
                           <div style="margin-bottom: 1rem;"><button><i class="bi bi-x-circle"></i></button></div>
                        </div>
                     </div>


                </div>


              <!-- ----------------------------------- -->


                <div class="checkout_left_bottom">
                    <div class="checkouts_frame_bottom_frame checkouts_frame_bottom_payment">
                        <h3>PAYMENT METHODE</h3>
                        <div class="payment_divs"><div class="payment_icon"><img class="payment_logo_png" src="/public/images/upi.png" alt=""></div><label for="upi">UPI</label><input id="upi" name="payment" type="radio"></div>
                        <div class="payment_divs"><div class="payment_icon"><img class="payment_logo_png" src="/public/images/card.png" alt=""></div><label for="card">CARD</label><input id="card" name="payment" type="radio"></div>
                        <div class="payment_divs"><div class="payment_icon"><img class="payment_logo_png" src="/public/images/cashon delivery.png" alt=""></div><label for="cashondelivery">CASH ON DELIVERY</label><input id="cashondelivery" name="payment" type="radio"></div>
                    </div>
                    <div class="checkouts_frame_bottom_frame checkouts_frame_bottom_coupon">
                        <h3>COUPON</h3>
                        <div class="coupon_input_frame">
                            <img src="/public/images/coupon.png" style="height: 3rem;" alt="">
                            <input type="text">
                            <button class="coupon_check_btn">SELECT</button>
                        </div>
                        <ul class="coupon_ul">
                            <li>R47HXD <span>save <i class="bi bi-currency-rupee"></i>399</span></li>
                            <li>R47HXD <span>save <i class="bi bi-currency-rupee"></i>399</span></li>
                            <li>R47HXD <span>save <i class="bi bi-currency-rupee"></i>399</span></li>
                            <li>R47HXD <span>save <i class="bi bi-currency-rupee"></i>399</span></li>
                            <li>R47HXD <span>save <i class="bi bi-currency-rupee"></i>399</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="checkout_right">
                <div class="checkouts_frame checkout_adress_frame">
                    <h3>ADDRESS</h3>
                    <div class="adress_frame">

                        <div style="display: flex;justify-content: space-between; width: 100%;">
                            <span style="display: flex; flex-direction: column;gap: .2rem; width: 50%;">
                                <label for="firstname" >First Name</label>
                                <input type="text"  name="firstname" style="width: 100%;" >
                            </span>
                            <span style="display: flex; flex-direction: column;gap: .2rem;  width: 48%;">
                                <label for="lastname">Last Name</label>
                                <input  type="text" name="lastname" style="width: 100%; padding-left: 1rem" >
                            </span>
                        </div>

                        <span style="display: flex; flex-direction: column;gap: .2rem;  width: 100%;">
                           <label for="lastname">Mobile</label>  
                           <input  type="text" name="mobile" style="width: 100%; padding-left: 1rem" >
                       </span>

                       
                       <div style="display: flex;justify-content: space-between; width: 100%;">
                        <span style="display: flex; flex-direction: column;gap: .2rem; width: 50%;">
                            <label for="firstname" >Country</label>
                            <input type="text"  name="country" style="width: 100%;" >
                        </span>
                        <span style="display: flex; flex-direction: column;gap: .2rem;  width: 48%;">
                            <label for="lastname">State</label>
                            <input  type="text" name="state" style="width: 100%; padding-left: 1rem" >
                        </span>
                    </div>  
                    
                       <div style="display: flex;justify-content: space-between; width: 100%;">
                        <span style="display: flex; flex-direction: column;gap: .2rem; width: 78%;">
                            <label for="firstname" >District</label>
                            <input type="text"  name="district" style="width: 100%;" >
                        </span>
                        <span style="display: flex; flex-direction: column;gap: .2rem;  width: 20%;">
                            <label for="lastname">Zip</label>
                            <input  type="text" name="zip" style="width: 100%; padding-left: 1rem" >
                        </span>
                    </div>  


                    <span style="display: flex; flex-direction: column;gap: .2rem;  width: 100%;">
                     <label for="lastname">Address</label>  
                     <textarea name="address" class="adress_text_area"></textarea>
                 </span>

                    </div>
                    
                </div>
                <div class="checkouts_frame checkouts_frame_add_new_address">
                  <div class="add_new_adress">ADD NEW ADDRESS<button class="droup_right_btn"><i class="bi plus_btn bi-plus"></i></button></div>
                <div class="adress_frame adrees_add_drop">

                  <div style="display: flex;justify-content: space-between; width: 100%;">
                      <span style="display: flex; flex-direction: column;gap: .2rem; width: 50%;">
                          <label for="firstname" >First Name</label>
                          <input type="text"  name="firstname" style="width: 100%;" >
                      </span>
                      <span style="display: flex; flex-direction: column;gap: .2rem;  width: 48%;">
                          <label for="lastname">Last Name</label>
                          <input  type="text" name="lastname" style="width: 100%; padding-left: 1rem" >
                      </span>
                  </div>

                  <span style="display: flex; flex-direction: column;gap: .2rem;  width: 100%;">
                     <label for="lastname">Mobile</label>  
                     <input  type="text" name="mobile" style="width: 100%; padding-left: 1rem" >
                 </span>

                 
                 <div style="display: flex;justify-content: space-between; width: 100%;">
                  <span style="display: flex; flex-direction: column;gap: .2rem; width: 50%;">
                      <label for="firstname" >Country</label>
                      <input type="text"  name="country" style="width: 100%;" >
                  </span>
                  <span style="display: flex; flex-direction: column;gap: .2rem;  width: 48%;">
                      <label for="lastname">State</label>
                      <input  type="text" name="state" style="width: 100%; padding-left: 1rem" >
                  </span>
              </div>  
              
                 <div style="display: flex;justify-content: space-between; width: 100%;">
                  <span style="display: flex; flex-direction: column;gap: .2rem; width: 78%;">
                      <label for="firstname" >District</label>
                      <input type="text"  name="district" style="width: 100%;" >
                  </span>
                  <span style="display: flex; flex-direction: column;gap: .2rem;  width: 20%;">
                      <label for="lastname">Zip</label>
                      <input  type="text" name="zip" style="width: 100%; padding-left: 1rem" >
                  </span>
              </div>  
              
              
              <span style="display: flex; flex-direction: column;gap: .2rem;  width: 100%;">
               <label for="lastname">Address</label>  
               <textarea name="address" class="adress_text_area"></textarea>
            </span>
            <input class="add_new_btn" type="button" value="ADD"> 
         </div>
         
      </div>
      
      <div class="checkouts_frame checkout_total_price">
         <h3>SUMMARY</h3>
         <div class="summary_frame">
            <p>Subtotal <span><i class="bi bi-currency-rupee"></i>32,999</span></p>
                        <p>Shipping <span style="color: rgb(0, 160, 0);">FREE</span></p>
                        <p>Coupon <span>Nill</span></p>
                        <p>Order Total <span><i class="bi bi-currency-rupee"></i>12,3234</span></p>
                        <button class="proceed_btn">PROCEED</button>
                    </div>
                </div>
            </div>
          </div>

    </div>
    

    <script>


    const dropBtn = document.querySelector('.droup_right_btn')
    const plusIcon = document.querySelector('.plus_btn')
    const dropFrame = document.querySelector('.adrees_add_drop')

    dropBtn.addEventListener('click',()=>{
      if(plusIcon.classList.contains('bi-plus')){
         plusIcon.classList.replace('bi-plus','bi-dash-lg')
         dropFrame.style.bottom = '3.5rem'
      }
      else{
         plusIcon.classList.replace('bi-dash-lg','bi-plus')
         dropFrame.style.bottom = '27rem'
      }

    })


    </script>



</body>
</html>