<%- include('../components/head.ejs') %>
   <div class="wrapper home_wrapper">
    <%- include('../components/top_nav.ejs') %>
         <div class="content home_content">
            
         </div>
   </div>
<%- include('../../common/end.ejs') %>