<%- include('../components/head.ejs') %>
<div class="wrapper order_success_wrapper">
    <%- include('../components/top_nav.ejs') %>
    <div class="content order_success_content">
        <div class="login_to_view">
            <div class="log_frame">
                <img src="/images/success.png"  class="cart_png" alt="">
                <p>Hey <span><%= findUser.username %></span></p>
              <h3>Your Order is Confirmed!</h3>
              <p>We'll send you a shipping confirmation email as soon your order ships</p>
              <p class="count_time_p">You will redirected to home within <span class="count_time">5</span>s</p>
              <div style="display: flex; gap: 1.5rem;">
                  <button onclick="location.href = '/home' " class="login_from_wish_btn go_to_homebtn">GO TO HOME</button>
                  <button onclick="location.href = '/account/orders' " class="login_from_wish_btn go_to_odrerBtn">GO TO ORDER</button>
              </div>
            </div>
           </div>
    </div>
</div>


<script>

document.addEventListener('DOMContentLoaded', () => {
    let countTime = parseInt(document.querySelector('.count_time').innerHTML); 
    let counter = countTime;

    const countdownInterval = setInterval(() => {
        counter--;
        document.querySelector('.count_time').innerHTML = counter; 

        if (counter === 0) {
            clearInterval(countdownInterval); 
            window.location.href = '/home'; 
        }
    }, 1000);
});


</script>


<%- include('../../common/end.ejs') %>