<%- include('../components/head.ejs') %>
<div class="wrapper success_otp_wrapper">
  <%- include('../components/signup_topnav.ejs') %>
  <div class="content success_content">
    <div class="loading_screen"><img src="/images/loading gif.gif" class="loading_gif" alt=""></div>
    <div class="success_frame">
       <img src="/images/successs.png" class="succes_img">
       <h3>Your OTP verification succesful You will be redirected to Login page</h3>
    </div>
    <audio class="music_play" src="/images/pay.mp3"></audio>
  </div>
</div>

<% if(success) { %>
<script>
  


    setTimeout(() => {
      document.querySelector('.music_play').play()
      window.location.href = '/login'
    }, 1000);

    
  </script>
    <% } %>

<%- include('../../common/end.ejs') %>
