<%- include('../components/head.ejs') %>
   <div class="wrapper productopen_wrapper">
    <%- include('../components/top_nav.ejs') %>
         <div class="content productopen_content">
            <%- include('../components/user_left.ejs') %>
            
         </div>
   </div>
<%- include('../../common/end.ejs') %>