<%- include('../components/head.ejs') %>
   <div class="wrapper signup_wrapper">
    <%- include('../components/top_nav.ejs') %>
    <div class="signup_content">
      <form action="/signup" spellcheck="false">
      <div class="frame">
         <div class="left">
            <h3 class="signup_text">Signup</h3>
            <div class="input_frame">
               <div class="input_div"><span class="input_icon"><i class="bi bi-input bi-person-fill"></i></span><input class="inputs" type="text" name="username" placeholder="Username"></div>
               <div class="input_div"><span class="input_icon"><i class="bi bi-input bi-envelope-fill"></i></span><input class="inputs" type="text" maxlength="40" name="email" placeholder="Email"></div>
               <div class="input_div"><span class="input_icon"><i class="bi bi-input bi-phone"></i></span><input class="inputs" type="number" name="mobilenum" placeholder="Mobile Number"></div>
               <div class="input_div"><span class="input_icon"><i class="bi bi-input bi-key"></i></span><input class="inputs" type="password" minlength="8" maxlength="10" name="password" placeholder="Password"><i class="bi bi-password bi-eye-slash"></i></div>
               <div class="input_div"><span class="input_icon"><i class="bi bi-input bi-shield-lock-fill"></i></span><input class="inputs" type="password" minlength="8" maxlength="10" name="confirmpassword" placeholder="Confirm Password" ><i class="bi bi-password bi-eye-slash"></i></div>
               <div class="submit_div"><button class="submit_btn" type="submit">SEND OTP</button></div>
               <p class="accnt_exist">Already have an account ? <a href="/login" class="login_tag">Login</a></p>
            </div>
         </div>
         <div class="right">LABIO</div>
      </div>
   </form>
    </div>
   </div>
<%- include('../../common/end.ejs') %>