<%- include('../components/head.ejs') %>
   <div class="wrapper wishlist_wrapper">
    <%- include('../components/top_nav.ejs') %>
         <div class="content wishlist_content">
            <div class="my_wishlist_text">My Wishlist <span class="wish_list_items">4 Items</span></div>
            <div class="wish_frame"> 

               <div class="product_frame">
                  <div class="top"><img src="/images/iphone 15.jpg" style="width: 7rem; height: 8.5rem;" alt=""><button class="remove_wish_btn"><i class="bi bi-x-circle"></i></button></div>
                  <div class="center">
                     <p class="product_name">IPhone 15 pro</p>
                     <div class="price_div">
                        <p class="old_price"><i class="bi bi-currency-rupee"></i>120,867</p>
                        <p class="new_price"><i class="bi bi-currency-rupee"></i>112,424</p>
                     </div>
                  </div>
                  <div class="bottom"><button class="addto_cart_btn">ADD TO CART</button></div>
               </div>
               <div class="product_frame">
                  <div class="top"><img src="/images/iphone 15.jpg" style="width: 7rem; height: 8.5rem;" alt=""><button class="remove_wish_btn"><i class="bi bi-x-circle"></i></button></div>
                  <div class="center">
                     <p class="product_name">IPhone 15 pro</p>
                     <div class="price_div">
                        <p class="old_price"><i class="bi bi-currency-rupee"></i>120,867</p>
                        <p class="new_price"><i class="bi bi-currency-rupee"></i>112,424</p>
                     </div>
                  </div>
                  <div class="bottom"><button class="addto_cart_btn">ADD TO CART</button></div>
               </div>
               <div class="product_frame">
                  <div class="top"><img src="/images/iphone 15.jpg" style="width: 7rem; height: 8.5rem;" alt=""><button class="remove_wish_btn"><i class="bi bi-x-circle"></i></button></div>
                  <div class="center">
                     <p class="product_name">IPhone 15 pro</p>
                     <div class="price_div">
                        <p class="old_price"><i class="bi bi-currency-rupee"></i>120,867</p>
                        <p class="new_price"><i class="bi bi-currency-rupee"></i>112,424</p>
                     </div>
                  </div>
                  <div class="bottom"><button class="addto_cart_btn">ADD TO CART</button></div>
               </div>
               <div class="product_frame">
                  <div class="top"><img src="/images/iphone 15.jpg" style="width: 7rem; height: 8.5rem;" alt=""><button class="remove_wish_btn"><i class="bi bi-x-circle"></i></button></div>
                  <div class="center">
                     <p class="product_name">IPhone 15 pro</p>
                     <div class="price_div">
                        <p class="old_price"><i class="bi bi-currency-rupee"></i>120,867</p>
                        <p class="new_price"><i class="bi bi-currency-rupee"></i>112,424</p>
                     </div>
                  </div>
                  <div class="bottom"><button class="addto_cart_btn">ADD TO CART</button></div>
               </div>
               <div class="product_frame">
                  <div class="top"><img src="/images/iphone 15.jpg" style="width: 7rem; height: 8.5rem;" alt=""><button class="remove_wish_btn"><i class="bi bi-x-circle"></i></button></div>
                  <div class="center">
                     <p class="product_name">IPhone 15 pro</p>
                     <div class="price_div">
                        <p class="old_price"><i class="bi bi-currency-rupee"></i>120,867</p>
                        <p class="new_price"><i class="bi bi-currency-rupee"></i>112,424</p>
                     </div>
                  </div>
                  <div class="bottom"><button class="addto_cart_btn">ADD TO CART</button></div>
               </div>
               <div class="product_frame">
                  <div class="top"><img src="/images/iphone 15.jpg" style="width: 7rem; height: 8.5rem;" alt=""><button class="remove_wish_btn"><i class="bi bi-x-circle"></i></button></div>
                  <div class="center">
                     <p class="product_name">IPhone 15 pro</p>
                     <div class="price_div">
                        <p class="old_price"><i class="bi bi-currency-rupee"></i>120,867</p>
                        <p class="new_price"><i class="bi bi-currency-rupee"></i>112,424</p>
                     </div>
                  </div>
                  <div class="bottom"><button class="addto_cart_btn">ADD TO CART</button></div>
               </div>
               <div class="product_frame">
                  <div class="top"><img src="/images/iphone 15.jpg" style="width: 7rem; height: 8.5rem;" alt=""><button class="remove_wish_btn"><i class="bi bi-x-circle"></i></button></div>
                  <div class="center">
                     <p class="product_name">IPhone 15 pro</p>
                     <div class="price_div">
                        <p class="old_price"><i class="bi bi-currency-rupee"></i>120,867</p>
                        <p class="new_price"><i class="bi bi-currency-rupee"></i>112,424</p>
                     </div>
                  </div>
                  <div class="bottom"><button class="addto_cart_btn">ADD TO CART</button></div>
               </div>
               <div class="product_frame">
                  <div class="top"><img src="/images/iphone 15.jpg" style="width: 7rem; height: 8.5rem;" alt=""><button class="remove_wish_btn"><i class="bi bi-x-circle"></i></button></div>
                  <div class="center">
                     <p class="product_name">IPhone 15 pro</p>
                     <div class="price_div">
                        <p class="old_price"><i class="bi bi-currency-rupee"></i>120,867</p>
                        <p class="new_price"><i class="bi bi-currency-rupee"></i>112,424</p>
                     </div>
                  </div>
                  <div class="bottom"><button class="addto_cart_btn">ADD TO CART</button></div>
               </div>
               <div class="product_frame">
                  <div class="top"><img src="/images/iphone 15.jpg" style="width: 7rem; height: 8.5rem;" alt=""><button class="remove_wish_btn"><i class="bi bi-x-circle"></i></button></div>
                  <div class="center">
                     <p class="product_name">IPhone 15 pro</p>
                     <div class="price_div">
                        <p class="old_price"><i class="bi bi-currency-rupee"></i>120,867</p>
                        <p class="new_price"><i class="bi bi-currency-rupee"></i>112,424</p>
                     </div>
                  </div>
                  <div class="bottom"><button class="addto_cart_btn">ADD TO CART</button></div>
               </div>
               <div class="product_frame">
                  <div class="top"><img src="/images/iphone 15.jpg" style="width: 7rem; height: 8.5rem;" alt=""><button class="remove_wish_btn"><i class="bi bi-x-circle"></i></button></div>
                  <div class="center">
                     <p class="product_name">IPhone 15 pro</p>
                     <div class="price_div">
                        <p class="old_price"><i class="bi bi-currency-rupee"></i>120,867</p>
                        <p class="new_price"><i class="bi bi-currency-rupee"></i>112,424</p>
                     </div>
                  </div>
                  <div class="bottom"><button class="addto_cart_btn">ADD TO CART</button></div>
               </div>
               <div class="product_frame">
                  <div class="top"><img src="/images/iphone 15.jpg" style="width: 7rem; height: 8.5rem;" alt=""><button class="remove_wish_btn"><i class="bi bi-x-circle"></i></button></div>
                  <div class="center">
                     <p class="product_name">IPhone 15 pro</p>
                     <div class="price_div">
                        <p class="old_price"><i class="bi bi-currency-rupee"></i>120,867</p>
                        <p class="new_price"><i class="bi bi-currency-rupee"></i>112,424</p>
                     </div>
                  </div>
                  <div class="bottom"><button class="addto_cart_btn">ADD TO CART</button></div>
               </div>
               <div class="product_frame">
                  <div class="top"><img src="/images/iphone 15.jpg" style="width: 7rem; height: 8.5rem;" alt=""><button class="remove_wish_btn"><i class="bi bi-x-circle"></i></button></div>
                  <div class="center">
                     <p class="product_name">IPhone 15 pro</p>
                     <div class="price_div">
                        <p class="old_price"><i class="bi bi-currency-rupee"></i>120,867</p>
                        <p class="new_price"><i class="bi bi-currency-rupee"></i>112,424</p>
                     </div>
                  </div>
                  <div class="bottom"><button class="addto_cart_btn">ADD TO CART</button></div>
               </div>

            </div>
         </div>
   </div>
<%- include('../../common/end.ejs') %>