<%- include('../components/head.ejs') %>
<div class="wrapper addcategory_wrapper">
    <%- include('../components/top_nav.ejs') %>
    <div class="content addcategory_content">
        <%- include('../components/left_bar.ejs') %>
        <div class="right_content">
            <div class="addcatogery_frame">
                <h3 class="add_cat_text">ADD CATEGORY</h3>
                 <span style="display: flex; flex-direction: column; align-items: center; gap: .8rem; margin-top: 1rem; width: 100%;">
                    
                    <label for="category name">Category Name</label>
                    <input spellcheck="false" type="text" style="text-transform: uppercase;"  class="input_text categoryname">
                    
                    <label for="category name">Category Image URL</label>
                    <input spellcheck="false" type="text" class="input_text categoryimg">
                    <label for="category name">Subcategory Name</label>
                    <div class="sub_cat_div">
                    <div style="display: flex; width: 100%; gap: .4rem;">
                    <input spellcheck="false" type="text" style="text-transform: uppercase;" class="input_text subcategoryname">
                    <button type="button" class="add_btns" onclick="add()">ADD</button>
                   </div>
                   <ul class="subcat_ul">
                    </ul>
                    </div>
                    </span>
                    <p class="error_msg"></p>
                    <script>
                    const errPara =  document.querySelector('.error_msg')
                    setTimeout(() => {
                    errPara.innerHTML = ''
                    }, 2000);
                </script>
                    <div style="width: 100%; display: flex; justify-content: center; padding: .9rem;">
                <button type="submit" class="add_btn">Add Category</button>
                </div>
                </div>
        </div>
    </div>
</div>


<script>

function previewImage(input) {
    var file = input.files[0];
    if (file) {
        var reader = new FileReader();
        reader.onload = function(e) {
            document.getElementById('imagePreview').src = e.target.result;
        };
        reader.readAsDataURL(file);
    }
}

const subCatArray = []


const errMsg = document.querySelector('.error_msg')

const addCatgoryBtn = document.querySelector('.add_btn')
const catname = document.querySelector('.categoryname')
const categoryimg = document.querySelector('.categoryimg')
const subCatname = document.querySelector('.subcategoryname')

const subcatUl = document.querySelector('.subcat_ul')

function add(){

    if (subCatname.value.trim() === '') {
        errMsg.textContent = 'Please enter a subcategory name';
        return;
    }

    subCatArray.push(subCatname.value.toUpperCase())

    const subcatLi = document.createElement('li')
    subcatLi.classList.add('subcat_li')
    subcatLi.innerHTML = subCatname.value.toUpperCase()
    subcatUl.appendChild(subcatLi)
    
    subCatname.value = ''
}





addCatgoryBtn.addEventListener('click',async(e) => {


    try {

        const response = await fetch('/admin/category/add_category',{
           method:'POST',
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify({categoryname:catname.value.toUpperCase(),catimageUrl:categoryimg.value,subcategory:subCatArray})
        })

        if(!response.ok){
            throw new Error('Eror in category add')
        }
        else{
            const result = await response.json()
            if(result.success){
                errMsg.innerHTML = 'Category Added Success'
                errMsg.classList.add('success')
                setTimeout(() => {
                    window.location.href = '/admin/category'
                }, 600);
            }
            else{
                errMsg.innerHTML = 'Please fill all Fields'
                setTimeout(() => {
                    errMsg.innerHTML = ''
                }, 2000);
            }

        }

        
    } catch (error) {
        console.log('Error in Category add');
    }
})



</script>


<%- include('../../common/end.ejs') %>