<%- include('../components/head.ejs') %>
<div class="wrapper add_products_wrapper">
    <%- include('../components/top_nav.ejs') %>
    <div class="content add_products_content">
        <%- include('../components/left_bar.ejs') %>
        <div class="right_content">
            <div class="form_frame">
                <form action="" spellcheck="false">
                <div class="top">
                    <div class="top_left">
                        <label for="product_name">Product Name</label>
                        <input type="text" name="productname" >

                        <div style="display: flex; gap: 1rem; width: 100%; padding: .5rem 0;">
                            <span style="display: flex; flex-direction: column; gap: .2rem;">
                                <label for="product_name">Old Price</label>
                                <input type="text" name="productname" style="width: 100%;" >
                            </span>
                            <span style="display: flex; flex-direction: column; gap: .2rem;">
                                <label for="product_name">Discount Price</label>
                                <input type="text" name="productname" style="width: 110%; padding-left: 0; " >
                            </span>
                        </div>

                        <label for="product_name">Category</label>
                        <select style="font-family: 'Poppisn',sans-serif; height: 2.5rem; outline: none; font-size: .9rem; width: 100%; padding: .4rem;" name="ram" id="size">
                            <option value="">Category</option>
                            <option value="mens">Mens</option>
                            <option value="womens">Womens</option>
                            <option value="kids">Kids</option>
                            <option value="electronics">Electronics</option>
                            <option value="home">Home</option>
                        </select>
                    </div>
                    <div class="top_right">
                        <img src="" class="product_img" alt="">
                        <div class="file_div"><span class="choose_file">Choose File</span><input type="file" class="input_file"></div>
                    </div>
                </div>
                <div class="bottom" style="padding: 0 1rem;">

                    <div style="display: flex; gap: 1rem; width: 100%;">
                        <span style="display: flex; flex-direction: column; gap: .2rem;">
                        <label for="size">Size</label>
                        <select style="font-family: 'Poppisn',sans-serif; height: 2.5rem; outline: none; font-size: .9rem; width: 4.5rem; padding: .4rem;" name="size" id="size">
                            <option  value="">Sizes</option>
                            <option value="s">s</option>
                            <option value="m">m</option>
                            <option value="l">l</option>
                            <option value="xs">xs</option>
                            <option value="xl">xl</option>
                            <option value="xxl">xxl</option>
                        </select>
                    </span>
                    
                    <span style="display: flex; flex-direction: column; gap: .2rem;">
                    <label for="size">Color</label>
                    <select style="font-family: 'Poppisn',sans-serif; height: 2.5rem; outline: none; font-size: .9rem; width: 6rem; padding: .4rem;" name="color" id="size">
                            <option value="">Colors</option>
                            <option value="black">black</option>
                            <option value="white">white</option>
                            <option value="orange">orange</option>
                            <option value="blue">blue</option>
                            <option value="green">green</option>
                            <option value="red">red</option>
                            <option value="pink">pink</option>
                        </select>
                    </span>


                    
                    
                    <span style="display: flex; flex-direction: column; gap: .2rem;">
                        <label for="size">Material</label>
                        <select style="font-family: 'Poppisn',sans-serif; height: 2.5rem; outline: none; font-size: .9rem; width: 7rem; padding: .4rem;" name="color" id="size">
                            <option value="">Materials</option>
                            <option value="cotton">cotton</option>
                            <option value="polyester">polyester</option>
                            <option value="wool">wool</option>
                            <option value="silk">silk</option>
                            <option value="nylon">nylon</option>
                            <option value="rayon">rayon</option>
                        </select>
                    </span>

                    <span style="display: flex; flex-direction: column; gap: .2rem;">
                    <label for="size">Sub Category</label>
                    <select style="font-family: 'Poppisn',sans-serif; height: 2.5rem; outline: none; font-size: .9rem; width: 7rem; padding: .4rem;" name="storage" id="size">
                            <option value="">Sub</option>
                            <option value="mensshirt">Mens shirt</option>
                            <option value="menspants">Mens Pants</option>
                            <option value="mensshoes">Mens Shoes</option>
                            <option value="menswatch">Mens Watch</option>
                            <option value="womensshirt">Womens shirt</option>
                            <option value="womenspants">Womens Pants</option>
                            <option value="womensshoes">Womens Shoes</option>
                            <option value="womenswatch">Womens Watch</option>
                            <option value="mobiles">Mobiles</option>
                            <option value="laptops">Laptops</option>
                            <option value="bedsheet">Bedsheet</option>
                            <option value="kidsshirt">Kids Shirt</option>
                            <option value="kidsshoes">kids Shoes</option>
                            <option value="kidstrouser">kids Trouser</option>
                        </select>
                    </span>

                    <span style="display: flex; flex-direction: column; gap: .2rem;">
                        <label for="size">Return</label>
                        <input type="checkbox" name="return">

                        </span>
                    </div>

                    <span style="display: flex; flex-direction: column; gap: .2rem; margin-top: .5rem;">
                        <label for="size">Delivery Date</label>
                        <input type="date" name="deliverydate" style="width: 94%;">
                    </span>
                    
                    <span style="display: flex; flex-direction: column; gap: .2rem; margin-top: .5rem;">
                        <label for="size">Product Description</label>
                        <textarea name="description" id="text_area"></textarea>
                    </span>
                    <div style="width: 100%; display: flex; justify-content: center; padding: .9rem;">
                        <button type="submit" class="add_btn">Add Product</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
<%- include('../../common/end.ejs') %>