<%- include('../components/head.ejs') %>
<div class="wrapper banner_wrapper">
    <%- include('../components/top_nav.ejs') %>
    <div class="content banner_content">
        <%- include('../components/left_bar.ejs') %>
        <div class="right_content">
            <div class="product_frame">
                <div class="pro_top">
                    <h3>Banner Details</h3>
                    <button onclick="location.href = '/admin/banners/add_banners' ">Add Banner</button>
                </div>
                <div class="pro_center">
                    <Table>
                        <thead>
                            <tr class="th_tr">
                            <th style="width: 3%;">SI</th>
                            <th style="width: 20%;">BANNER _ID</th>
                            <th style="width: 14%;">BANNER NAME</th>
                            <th style="width: 10%;">AMOUNT</th>
                            <th style="width: 14%;">BANNER HEAD</th>
                            <th style="width: 10%;">START DATE</th>
                            <th style="width: 10%;">END DATE</th>
                            <th style="width: 7%;">EDIT</th>
                            <th style="width: 7%;">DELETE</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>87432458723883459</td>
                                <td>Roadster mens</td>
                                <td>132424</td>
                                <td>sales on shirts</td>
                                <td>22-05-2024</td>
                                <td>12-03-2024</td>
                                <td><button><i class="bi bi-pencil-square"></i></button></td>
                                <td><button><i class="bi bi-trash"></i></button></td>
                            </tr>
                        </tbody>
                      </Table>
                </div>
                <div class="pro_bottom">
                    <div class="link_pagination">
                        <button class="back_btn" onclick="prev()"><i class="bi bi-chevron-left"></i></button>
                        <div class="links">
                            <button class="page_btn" onclick="active()" value="1">1</button>
                            <button class="page_btn" onclick="active()" value="2">2</button>
                            <button class="page_btn" onclick="active()" value="3">3</button>
                            <button class="page_btn" onclick="active()" value="4">4</button>
                            <button class="page_btn" onclick="active()" value="5">5</button>
                            <button class="page_btn" onclick="active()" value="6">6</button>
                            <button class="page_btn" onclick="active()" value="7">7</button>
                        </div>
                        <button class="next_btn" onclick="next()"><i class="bi bi-chevron-right"></i></button>
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>
<%- include('../../common/end.ejs') %>