<%- include('../components/head.ejs') %>
<div class="wrapper home_wrapper">
    <%- include('../components/top_nav.ejs') %>
    <div class="content home_content">
        <%- include('../components/left_bar.ejs') %>
        <div class="right_content">
           <div class="home_frame">
             <div class="top">
                <h3>Products Rate</h3>
             </div>
             <div class="bottom">
                <div class="bt_left">
                    <h3>Users Rate</h3>

                </div>
                <div class="bt_right">
                    <h3>Orders Growth</h3>

                </div>
             </div>
           </div>
        </div>
    </div>
</div>
<%- include('../../common/end.ejs') %>