<%- include('../components/head.ejs') %>
<div class="wrapper individiualusers_wrapper">
    <%- include('../components/top_nav.ejs') %>
    <div class="content individiualusers_content">
        <%- include('../components/left_bar.ejs') %>
        <div class="right_content">
           
             </div>
        </div>
    </div>
</div>
<%- include('../../common/end.ejs') %>