<%- include('../components/head.ejs') %>
   <div class="wrapper keyverify_wrapper">
      <%- include('../components/signup_topnav.ejs') %>
      <div class="keyverify_content">
      <form action="/login" spellcheck="false">
      <div class="login_frame">
         <div class="left">
            <h3 class="login_text">KEY VERIFICATION</h3>
            <p class="enter_p">ENTER THE 12 DIGIT SECRET KEY TO VERIFY</p>
            <div class="input_frame">
               <div class="input_div"><span class="input_icon"><i class="bi bi-input bi-key"></i></span><input class="inputs" type="password" minlength="8" maxlength="10" name="password" placeholder="Key"></div>
               <div class="submit_div"><button class="submit_btn" type="submit">SUBMIT</button></div>
            </div>
         </div>
      </div>
   </form>
    </div>
   </div>
   <%- include('../../common/end.ejs') %>