<%- include('../components/head.ejs') %>
   <div class="wrapper login_wrapper">
      <%- include('../components/signup_topnav.ejs') %>
      <div class="login_content">
      <form spellcheck="false" class="login_form">
      <div class="login_frame">
         <div class="left">
            <h3 class="login_text">Login</h3>
            <div class="input_frame">
               <div class="input_div"><span class="input_icon"><i class="bi bi-input bi-envelope-fill"></i></span><input class="inputs" type="text" maxlength="40" name="email" placeholder="Email"></div>
               <div class="input_div"><span class="input_icon"><i class="bi bi-input bi-key"></i></span><input class="inputs" type="password" minlength="8" maxlength="10" name="password" placeholder="Password"><i class="bi passEye bi-password bi-eye-slash"></i></div>
               <div class="forget_div">
                    <div class="forget_password"><a href="#">Forget Password ?</a></div>
                </div>
               <div class="submit_div"><button class="submit_btn" type="submit">LOGIN</button></div>
               <p class="err_msg"></p>
               <p class="accnt_exist">Dont't have an account ?<a href="/admin/signup" class="login_tag">Signup</a></p>
            </div>
         </div>
         <div class="right">LABIO</div>
      </div>
   </form>
    </div>
   </div>
   <script src="/javascript/admin_login.js"></script>
   <%- include('../../common/end.ejs') %>