<%- include('../components/head.ejs') %>
<div class="wrapper message_wrapper">
    <%- include('../components/top_nav.ejs') %>
    <div class="content message_content">
        <%- include('../components/left_bar.ejs') %>
        <div class="right_content">
            <div class="msg_cont">
             <div class="top"><i class="bi bi-envelope-fill"></i></div>
             <div class="bottom">ctlabeebthaliyil@gmail.com</div>
            </div>
            <div class="msg_cont">
             <div class="top"><i class="bi bi-envelope-fill"></i></div>
             <div class="bottom">ctlabeebthaliyil@gmail.com</div>
            </div>
            <div class="msg_cont">
             <div class="top"><i class="bi bi-envelope-fill"></i></div>
             <div class="bottom">ctlabeebthaliyil@gmail.com</div>
            </div>
            <div class="msg_cont">
             <div class="top"><i class="bi bi-envelope-fill"></i></div>
             <div class="bottom">ctlabeebthaliyil@gmail.com</div>
            </div>
            <div class="msg_cont">
             <div class="top"><i class="bi bi-envelope-fill"></i></div>
             <div class="bottom">ctlabeebthaliyil@gmail.com</div>
            </div>
            <div class="msg_cont">
             <div class="top"><i class="bi bi-envelope-fill"></i></div>
             <div class="bottom">ctlabeebthaliyil@gmail.com</div>
            </div>
            <div class="msg_cont">
             <div class="top"><i class="bi bi-envelope-fill"></i></div>
             <div class="bottom">ctlabeebthaliyil@gmail.com</div>
            </div>
            <div class="msg_cont">
             <div class="top"><i class="bi bi-envelope-fill"></i></div>
             <div class="bottom">ctlabeebthaliyil@gmail.com</div>
            </div>
            <div class="msg_cont">
             <div class="top"><i class="bi bi-envelope-fill"></i></div>
             <div class="bottom">ctlabeebthaliyil@gmail.com</div>
            </div>
            <div class="msg_cont">
             <div class="top"><i class="bi bi-envelope-fill"></i></div>
             <div class="bottom">ctlabeebthaliyil@gmail.com</div>
            </div>
            <div class="msg_cont">
             <div class="top"><i class="bi bi-envelope-fill"></i></div>
             <div class="bottom">ctlabeebthaliyil@gmail.com</div>
            </div>
            <div class="msg_cont">
             <div class="top"><i class="bi bi-envelope-fill"></i></div>
             <div class="bottom">ctlabeebthaliyil@gmail.com</div>
            </div>
        </div>
    </div>
</div>
<%- include('../../common/end.ejs') %>