<%- include('../components/head.ejs') %>
<div class="wrapper orders_wrapper">
    <%- include('../components/top_nav.ejs') %>
    <div class="content orders_content">
        <%- include('../components/left_bar.ejs') %>
        <div class="right_content">
            <div class="product_frame">
                <div class="pro_top">
                    <h3>Order Details</h3>
                </div>
                <div class="pro_center">
                    <Table>
                        <thead>
                            <tr class="th_tr">
                            <th style="width: 3%;">SI</th>
                            <th style="width: 15%;">ORDER _ID</th>
                            <th style="width: 14%;">PRODUCT _ID</th>
                            <th style="width: 16%;">USER _ID</th>
                            <th style="width: 7%;">PRODUCT NAME</th>
                            <th style="width: 10%;">USER</th>
                            <th style="width: 10%;">STATUS</th>
                            <th style="width: 7%;">PRICE</th>
                            <th style="width: 2%;">QUA</th>
                            <th style="width: 7%;">PAYMENT METHODE</th>
                            <th style="width: 12%;">ORDER DATE</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr style="cursor: pointer;">
                                <td>1</td>
                                <td>87432458723883459</td>
                                <td>68934658456983458</td>
                                <td>894756934758967</td>
                                <td>Iphone 14 plus</td>
                                <td>1000</td>
                                <td>1000</td>
                                <td>90%</td>
                                <td>1</td>
                                <td>UPI</td>
                                <td>12-03-2024</td>
                            </tr>
                        </tbody>
                      </Table>
                </div>
                <div class="pro_bottom">
                    <div class="link_pagination">
                        <button>Prev</button>
                        <div class="links">
                        <a href="#" value="1">1</a>
                        <a href="#" value="2">2</a>
                        <a href="#" value="3">3</a>
                        <a href="#" value="4">4</a>
                        <a href="#" value="5">5</a>
                        <a href="#" value="6">6</a>
                        <a href="#" value="7">7</a>
                        </div>
                        <button>Next</button>
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>
<%- include('../../common/end.ejs') %>