<%- include('../components/head.ejs') %>
<div class="wrapper addcoupon_wrapper">
    <%- include('../components/top_nav.ejs') %>
    <div class="content addcoupon_content">
        <%- include('../components/left_bar.ejs') %>
        <div class="right_content">
            <div class="user_msg_frame">
                
            </div>
        </div>
    </div>
</div>
<%- include('../../common/end.ejs') %>